allow camera_device sysfs:filesystem associate;
allow camera_device media_data_file:file rw_file_perms;

allow cameraserver media_data_file:file rw_file_perms;
allow cameraserver media_data_file:dir w_dir_perms;

allow cameraserver device:dir r_dir_perms;
allow cameraserver video_device:dir r_dir_perms;
allow cameraserver video_device:chr_file rw_file_perms;
allow cameraserver camera_device:dir r_dir_perms;
allow cameraserver camera_device:chr_file rw_file_perms;

allow cameraserver system_file:dir { open read };
allow cameraserver hal_allocator:fd use;
allow cameraserver hal_camera:fd use;
